.navbar {
  width: 100%;
  height: 56px;
}

.nav-bar-color{

background-color:rgb(72, 3, 3) !important;
}


.tool-bar-left-section{
  margin-left:20px;
}

.toolbar-menu-section{
  display: flex;
}

.logout-section{
  cursor: pointer;
}